.mainclass{
height: 100vh;
width: 98vw;
}
.sidebar{
position: relative;
top:0%;
  height: 94%;

  width:22vw;
  background-color: #393e46;
}
body{
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Montserrat', sans-serif;
background: #cccccc;
}

a{
  display: block;
  color:#ffffff;
  text-decoration: none;
  padding: 15px 30px;
}


.maincontent{
  position: absolute;
  left:25%;
  height: 90vh;
  top:10%;
  width: 75vw;
color:#5f6769;

}

.active{
    border-left: 5px solid #3e64ff;
    padding:15px 30px 15px 25px;
    background-color: #313131;
  }
.welcomeinfo{
  position: absolute;
  top:2%;
  right:5%;
  width: 12vw;
  height: 17vw;
}
.icon{

  height: 12%;
  width: 19%;

}
span{

  padding-left: 8px;
}
.table{

  color:#3c4245;
  border: 1px solid #ddd;
border-collapse: collapse;
line-height: 2.1;
    font-size: 1.2em;
    text-align: left;
    width: 98%;
}
 tr:hover{
   background-color: #979797;
 }
