.old,.new,.cnew{
  border-radius: 15px;
  text-align: center;
padding: 5px;
}
.old{
    margin-left:10%;
}
.new{
    margin-left:9.3%;
}
.cnew{
    margin-left:2%;
}
.submit{
  background-color:  #337ab7;
  padding:10px;
      border-radius: 50px;
      border:none;
      color:white;
      position: absolute;
      left:26%;
}
.cancel{
  background-color: #c9302c;
    padding:10px;
        border-radius: 50px;
        border:none;
    color:white;
    position: absolute;
    left:35%;
}
