body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e5dfdf;
}
.stafflogin{
  width: 300px;
  padding: 40px;
 position: absolute;
  top: 50%;
    border-radius: 5%;
  left: 50%;
  transform: translate(-50%,-50%); */
  display: block;
  background: #393e46;
  text-align: center;
}
.stafflogin h1{
  color: white;
  font-family: 'Montserrat', sans-serif;

}
.username,.password{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.username:hover,.password:hover{
  width: 280px;
  border-color: #2ecc71;
}
.submit{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.submit:hover{
  background: #2ecc71;
}

img{
  display: block;
margin-left: auto;
margin-right: auto;
margin-top: 5%;
}
